.modal-content {
    border-radius: 10px;
  }
  .modal-header {
    background-color: #27793d;
    color: white;
  }
  .modal-footer {
    justify-content: center;
  }
    .modal-footer button {
        background-color: #27793d;
        color: white;
    }  