.edit-broker-container{
    max-width: 600px;
    max-height: fit-content;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 8px;
   
}

.edit-broker-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-group input:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
  
  .save-btn,
  .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .save-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .save-btn:hover {
    background-color: #45a049;
  }
  
  .cancel-btn {
    background-color: #ff776d;
    color: white;
  }
  
  .cancel-btn:hover {
    background-color: #e53935;
  }
  