/*modal styling - try to decrease the wdith of modal*/
.modal-content {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 75%;
}

.modal-header-custom {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #154734;
  color: white;
}

.modal-title-custom {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

/*form Input*/
.modal-body .form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
}

/*buttons- decerase the distance between buttons*/
.modal-body .btn-primary {
  background-color: #1e654a;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

.modal-body .btn-primary:hover {
  background-color: #1e654a;
}

/*cancel button*/
.modal-body .btn-dark {
  background-color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

.modal-body .btn-dark:hover {
  background-color: #000;
}

/*footer-try to get the text in the center*/
.modal-footer p {
  font-size: 0.9rem;
  color: #333;
  align-items: center;
}

.modal-footer .btn-link {
  color: #1e654a;
  font-size: 0.9rem;
  text-decoration: none;
}

.modal-footer .btn-link:hover {
  text-decoration: underline;
}
