.aboutus-container {
    text-align: center;
    text-shadow: black 1px 2px 5px;
    text-size-adjust: 100%;
    margin: 20px 0px;
    max-width:max-content;
    padding: 20px 10px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.962);
    font-size: 20px;
    
  }
  
  .our-story-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  
  .our-story-container > div {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    background: #6a9363da;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .our-tea-varieties-container button {
    background-color: #1a4d07e3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .our-tea-varieties-container button:hover {
    background-color: #2a7f0be3;
  }
  