.footer {
    background-color: #0b1b15;
    color: white;
    padding: 10px;           /* Padding for left, right, and bottom */
    padding-top: 10px;        /* Specific padding for the top */
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
  