.menu {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
  height: 100vh; 
  width: 280px; 
  background-color: #f4f4f4; 
  padding: 1rem 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); 
  overflow-y: auto; 
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 1.5rem;
  scroll-behavior: auto;
}

.menu-list .item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  color: #154734;
}

.menu-list .item:hover {
  background-color: #154734;
  color: whitesmoke;
}

/* Dropdown Button */
.dropdown-btn {
display: flex;
align-items: center;
gap: 10px;
font-size: 18px;
text-decoration: none;
font-weight: 600;
padding: 12px 15px;
border-radius: 8px;
transition: all 0.3s ease-in-out;
color: #154734;
background-color: transparent;
border: none;
width: 100%;
text-align: left;
cursor: pointer;
}

.dropdown-btn:hover {
background-color: #154734;
color: whitesmoke;
}

.dropdown-content {
display: flex;
flex-direction: column;
gap: 10px;
padding: 10px 0;
margin-left: 20px; 
border-left: 2px solid #154734; 
}

.dropdown-content a {
text-decoration: none;
font-size: 16px;
color: #154734;
padding: 8px 15px;
border-radius: 6px;
transition: all 0.3s ease-in-out;
}

.dropdown-content a:hover {
background-color: #154734;
color: whitesmoke;
}

@media (max-width: 768px) {
  .menu {
      width: 200px;
  }

  .menu-list .item {
      font-size: 16px;
      padding: 10px;
  }

  .dropdown-btn {
      font-size: 16px;
      padding: 10px;
  }

  .dropdown-content a {
      font-size: 14px;
      padding: 6px 12px;
  }
}

.menu::-webkit-scrollbar {
  width: 5px; 
}

.menu::-webkit-scrollbar-track {
  background: #f4f4f4;
}

.menu::-webkit-scrollbar-thumb {
  background: #11724d; 
  border-radius: 4px; 
}

.menu::-webkit-scrollbar-thumb:hover {
  background:  #0b4e34;
}